<div class="container d-flex align-items-center" style="height: 100vh;">
    <div class="card text-center mx-auto">
    
        <div class="card-body">
            <img src="../assets/images/rider-delivery.png" alt="images" width="250px">
          <h3 class="card-title"><strong>ORDER CONFIRMED</strong></h3>
          <h4 class="card-title">Thank you for shopping with us!</h4>
          <p class="card-text">You will recive an order confirmation email shortly.</p>
          <p class="card-text text-wrap">The estimated delivery date is based on the handling time and the warehouse processing time. In certain cases, the estimated delivery date will vary.</p>
          <h5 class="card-title">Sit, Relax & Shop More! while your orders is being worked on...</h5>
          <a routerLink="/products" class="btn btn-primary">Continue Shopping</a>
        </div>
    
      </div>
</div>




<!-- 
<img src="https://images.creativemarket.com/0.1.0/ps/7169705/910/607/m1/fpnw/wm0/10.05.2019-shopping-5-.jpg?1571577402&s=3520fe87448493c2f0d597c78b7443ff&fmt=webp" alt="images" width="200px"> -->




