
<div id="body">
    <div id="bg">
      <h1>Women's Store</h1>
      <p class="top-space"> Leading online destination in India for women’s Indian dresses, including sarees, shararas, anarkalis, lehengas, and chikankari outfits. Our curated collection showcases exquisite designs crafted from premium fabrics and adorned with intricate hand embroideries, celebrating the beauty of Indian ethnic wear. Experience the convenience of online shopping, where our user-friendly website ensures a seamless browsing experience. Enjoy secure payment options and swift delivery for a hassle-free shopping experience..</p>
      <div class="btn top-space">
          <a routerLink="/signin" > SIGN-IN </a>
          <span>or</span>
          <a routerLink="/signup" > SIGN-UP </a>
      </div>
    </div>
  </div>
